<div class="toolbar" role="banner">
  <img
    width="80"
    height="65"
    alt="Angular Logo"
    src="https://www.ixon.cloud/media/ciqpa3f3/api-2x.png"
  />
  <h2>...POST, DELETE, GET APIs in Angular</h2>
  <hr />
</div>
<div>
  <button class="add" (click)="onPostUsers()">click to POST User</button>
  <button class="del" (click)="onDeletePosts()">click to DELETE User</button>
  <button class="get" (click)="onGetUsers()">click to GET Users</button>
  <button class="hide" (click)="onHideUsers()">click to Hide Users</button>
</div>
<ul *ngFor="let user of users">
  <li>Id = {{ user.id }}</li>
  <li>Name = {{ user.name }}</li>
  <li>User Name = {{ user.username }}</li>
  <li>Email = {{ user.email }}</li>
</ul>
<ul>
  <li>id = {{ objPosts?.id }}</li>
  <li>user id = {{ objPosts?.userId }}</li>
  <li>title = {{ objPosts?.title }}</li>
  <li>body = {{ objPosts?.body }}</li>
</ul>
